*.DS_Store
pizza/.idea/encodings.xml
pizza/.idea/codeStyles/codeStyleConfig.xml
pizza/.idea/compiler.xml
pizza/.idea/misc.xml
pizza/.idea/vcs.xml
pizza/.idea/workspace.xml
spring-server-generated/.idea/*